*~
*.bak
*.[oa]
*.la
*.so
*.c.s
*.log
*.vcd
*.geany
*.o
*.a
*.o.s
*.bin
*_dump
*.dump
*.jou
.nfs*
core

doc/src

sysc/paranut_tb
sysc/memu_tb
sysc/jtag_dtm_tb
sysc/dm_tb
sysc/hls-*
sysc/config.h

sysc/paranut.config
sysc/paranut.creator
sysc/paranut.creator.user
sysc/paranut.creator.user.*
sysc/paranut.files
sysc/paranut.includes

sw/test_all/test_all
sw/test_all/uart0.?x
sw/hello_newlib/hello_newlib

sw/libparanut/Documentation/html
sw/libparanut/Documentation/latex
sw/libparanut/INSTALL
sw/libparanut_unittest/Documentation/html
sw/libparanut_unittest/Documentation/latex
sw/libparanut_unittest/libparanut_unittest

sw/libparanut/TODO.txt
sw/test_riscv/test_all

sw/dhrystone/dhry
sw/dhrystone/dhry-amd64
sw/coremark_v1.0/coremark.exe
sw/mode2_demo/mode2_demo
sw/mode1_demo/mode1_demo

hw/bin/paranut_temp/
hw/bin/paranut_z20/

hw/rtl/vhdl/paranut/MDbgu*
hw/rtl/vhdl/paranut/MExu*
hw/rtl/vhdl/paranut/MLsu*
hw/rtl/vhdl/paranut/MIfu*
hw/rtl/vhdl/paranut/MIntC*
hw/rtl/vhdl/paranut/MMExtension*
hw/rtl/vhdl/paranut/MDebugModule*
hw/rtl/vhdl/paranut/MDtm*

hw/rtl/vhdl/paranut/paranut_config.vhd
hw/rtl/vhdl/tb/paranut/mparanut_tb
hw/rtl/vhdl/tb/paranut/paranut
hw/rtl/vhdl/tb/paranut/paranut_config.vhd

systems/*/hardware/build.bd
systems/*/hardware/build
systems/*/vivado_cores
**/__pycache__
