*~
*.bak
*.[oa]
*.la
*.so
*.c.s
*.log
*.vcd
*.geany
*.o
*.d
*.a
*.o.s
*.bin
*_dump
*.dump
*.jou
.nfs*
*.swp
core
version.env

doc/src

hw/sim/pn-sim
hw/sysc/tb/memu/memu_tb
hw/sysc/tb/jtag_dtm/jtag_dtm_tb
hw/sysc/tb/dm/dm_tb
hw/sysc/hls-*
hw/sysc/paranut-config.h
hw/sysc/Documentation/html
hw/sysc/Documentation/latex

hw/sysc/paranut.config
hw/sysc/paranut.creator
hw/sysc/paranut.creator.user
hw/sysc/paranut.creator.user.*
hw/sysc/paranut.files
hw/sysc/paranut.includes

sw/test_all/test_all
sw/test_all/uart0.?x
sw/hello_newlib/hello_newlib

sw/libparanut_unittest/Documentation/html
sw/libparanut_unittest/Documentation/latex
sw/libparanut_unittest/libparanut_unittest

sw/libparanut/TODO.txt
sw/test_riscv/test_all

sw/dhrystone/dhry
sw/dhrystone/dhry-amd64
sw/coremark_v1.0/coremark.exe
sw/mode2_demo/mode2_demo
sw/mode1_demo/mode1_demo

hw/vhdl/tb/paranut/mparanut_tb
hw/vhdl/tb/paranut/paranut
hw/vhdl/tb/paranut/paranut_config.vhd
**/__pycache__
