#  -----------------------------------------------------------------------------
#
#  This file is part of the ParaNut project.
#
#  openocd-sim.cfg
#
#  Company:
#  Efficient Embedded Systems Group
#  University of Applied Sciences, Augsburg, Germany
#  http://ees.hs-augsburg.de
#
#  Copyright (C) 2019 Alexander Bahle <alexander.bahle@hs-augsburg.de>
#                2023 Lukas Bauer <lukas.bauer@hs-augsburg.de>
#      Hochschule Augsburg, University of Applied Sciences
#
#  Description:
#    OpenOCD configuration file for the ParaNut simulator.
#
#  --------------------- LICENSE -----------------------------------------------
#  Redistribution and use in source and binary forms, with or without modification,
#  are permitted provided that the following conditions are met:
#
#  1. Redistributions of source code must retain the above copyright notice, this
#     list of conditions and the following disclaimer.
#
#  2. Redistributions in binary form must reproduce the above copyright notice,
#     this list of conditions and the following disclaimer in the documentation and/or
#     other materials provided with the distribution.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
#  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
#  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
#  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
#  ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
#  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
#  ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
#  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
#  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#  -----------------------------------------------------------------------------


# Interface definition
adapter driver remote_bitbang
remote_bitbang_host localhost
remote_bitbang_port 9824

# ParaNut RISC-V definition
set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0xdeadbeef


set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME


# for abstract mem access with openocd 0.12.0
# riscv set_mem_access abstract progbuf


# for privileg level 3
# riscv expose_csrs 256,260-262,266,320-324,384,770-771,778,794,1448,1984,2114,2240-2243,3072,3104,3280,3284,3861,4032-4033,4036-4041

# for privileg level 2
# riscv expose_csrs 778,794,1984,2114,2240-2243,3072,3104,3280,3284,3861,4032-4043,4036-4041

# for privileg level 1
riscv expose_csrs 778,794,1984,2114,2240-2243,3280,3284,3861,4032-4033,4036-4041


gdb_report_data_abort enable
set remotetimeout 2000

# Init, reset and halt all
init
reset halt

# DO NOT USE
# for openocd 0.12.0
# Priv Mode 3 Registers
# riscv expose_csrs 256=sstatus
# riscv expose_csrs 260=sie
# riscv expose_csrs 261=stvec
# riscv expose_csrs 262=scounteren
# riscv expose_csrs 266=senvcfg
# riscv expose_csrs 320=sscratch
# riscv expose_csrs 321=sepc
# riscv expose_csrs 322=scause
# riscv expose_csrs 323=stval
# riscv expose_csrs 324=sip
# riscv expose_csrs 384=satp
# riscv expose_csrs 770=medeleg
# riscv expose_csrs 771=mideleg
# riscv expose_csrs 1448=scontext

# Priv Mode 2 Registers
# riscv expose_csrs 3072=cycle
# riscv expose_csrs 3104=cycleh

#For all modes

# # machine registers
# riscv expose_csrs 778=menvcfg
# riscv expose_csrs 794=menvcfgh
# riscv expose_csrs 3861=mconfigptr


# # paranut specific registers
# riscv expose_csrs 1984=pncache
# riscv expose_csrs 2114=pncause
# riscv expose_csrs 2240=pngrpsel
# riscv expose_csrs 2241=pnce
# riscv expose_csrs 2242=pnlm
# riscv expose_csrs 2243=pnxsel
# riscv expose_csrs 3280=pncpus
# riscv expose_csrs 3284=pncoreid
# riscv expose_csrs 4032=pnm2cp
# riscv expose_csrs 4033=pnx
# riscv expose_csrs 4036=pncacheinfo
# riscv expose_csrs 4037=pncachesets
# riscv expose_csrs 4038=pnclockinfo
# riscv expose_csrs 4039=pnmemsize
# riscv expose_csrs 4040=pnece
# riscv expose_csrs 4041=pntimebase